<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adrien Jarthon</title>
    <meta name="description" content="I'm Adrien Jarthon, a full stack web developper who love design.">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ff685d">
    <link rel="canonical" href="http://adrienjarthon.com" />
    <link rel="shortcut icon" type="image/png" href="<%= image_path 'favicon.png' %>" />
    <%= content_tag :style, sprockets["_all.scss"].to_s %>
  </head>

  <body>
    <%= partial "layouts/header" %>
    <%= yield %>
    <%= partial "layouts/footer" %>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18868376-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>